body {
    background-color: #ffffb6;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration-color: #23242c;
    color: black;

}

#contorno-foto {
    border-radius: 100%;
    height: 350px;
    background-color: blue;
    padding: 5px;
    position: relative;
    float: left;
    margin: 10px;
}

#meu-nome {
    font-style: italic;
    text-align: center;
    color: black;
    font-size: larger;
}

nav ol li {
    display: inline-block;
    margin-left: 50px;

}

#resume-container {
    width: 800px;
    margin-left: 400px;
    margin-top: 120px;
}

#photo-resume {
    border: #ffffb6 5px solid;
    height: 400px;
}

#main-container {
    height: 800px;
}

main ul {
    margin-top: 50px;
}

#info-container {
    height: 250px;
    margin-top: 50px;
}

main ul#item2 li {
    position: relative;
    margin-top: 20px;
    margin-left: 400px;

}

#skills-container {
    height: 250px;
    margin-top: 50px;
}

main ul#item3 li {
    position: relative;
    margin-top: 20px;
    margin-left: 250px;
}

#curiosities-container {
    height: 250px;
    margin-top: 50px;
}

main ul#item4 li {
    position: relative;
    margin-top: 20px;
    margin-left: 350px;
}

footer {
    border: solid red 5px;
    height: 250px;
}

#title5 {
    margin: 80px;
}

nav#nav-contact {
    margin-left: 270px;

}

nav ul li {
    
    display: inline-block;
    margin-left: 50px;
}

h3, h4 {
    color: #23242c;
    font-style: italic;
    text-align: center;
}

a {
    color: black;
}

p {
    text-align: justify;
}